

.Parks-container {
  height: 600px ;
  overflow: scroll;
}

.Login-Form {
  margin: 100px auto;
  padding: 50px 50px;
  width: 25%;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

